<footer ...attributes>
	<content route={{route-name}}>
		<links>
			<Footer::Links>
				<Footer::Links::Name @text="Product" />
				<Footer::Links::Item @link="docs" @text="Documentation" />
				<Footer::Links::Item @link="install" @text="Install" />
				<Footer::Links::Item @link="features" @text="Features" />
				<Footer::Links::Item @link="releases" @text="Releases" />
				<Footer::Links::Status @text="Status" />
			</Footer::Links>
			<Footer::Links>
				<Footer::Links::Name @text="Community" />
				<Footer::Links::Item @link={{url "github"}}>
					<i class="fab fa-github"></i> <span>GitHub</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "discord"}}>
					<i class="fab fa-discord"></i> <span>Discord</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "twitter"}}>
					<i class="fab fa-twitter"></i> <span>X</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "youtube"}}>
					<i class="fab fa-youtube"></i> <span>YouTube</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "linkedin"}}>
					<i class="fab fa-linkedin"></i> <span>LinkedIn</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "reddit"}}>
					<i class="fab fa-reddit"></i> <span>Reddit</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "instagram"}}>
					<i class="fab fa-instagram"></i> <span>Instagram</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "stackoverflow"}}>
					<i class="fab fa-stack-overflow"></i> <span>Stack Overflow</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "threads"}}>
					<i class="fab fa-instagram"></i> <span>Threads</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "medium"}}>
					<i class="fab fa-medium"></i> <span>Medium</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "dev"}}>
					<i class="fab fa-dev"></i> <span>Dev</span>
				</Footer::Links::Item>
			</Footer::Links>
			<Footer::Links>
				<Footer::Links::Name @text="Legal" />
				<Footer::Links::Item @link="legal.privacy" @text="Privacy policy" />
				<Footer::Links::Item @link="legal.cookies" @text="Cookies policy" />
				<Footer::Links::Item @link="legal.security" @text="Security policy" />
				<Footer::Links::Item @link="license" @text="License FAQs" />
				<Footer::Links::Item @link="/.well-known/security.txt" @text="security.txt" />
			</Footer::Links>
			<Footer::Links>
				<Footer::Links::Name @text="About" />
				<Footer::Links::Item @link="careers" @text="Careers" />
				<Footer::Links::Item @link="team" @text="Meet the team" />
				<Footer::Links::Item @link="community" @text="Community" />
				<Footer::Links::Item @link="opensource" @text="Open source" />
				<Footer::Links::Item @link="blog" @text="Blog" />
				<Footer::Links::Item @link="https://surrealdb.store" @text="Store" />
				<Footer::Links::Item @link="media" @text="Media" />
			</Footer::Links>
		</links>
		<lower>
			<p>
				Copyright &copy; SurrealDB Ltd.
				<br>
				Registered in England and Wales, no. 13615201
				<br>
				Registered address: 16 Great Queen Street, Covent Garden, London, WC2B 5AH, United Kingdom
				<br>
				Trading address: Huckletree Oxford Circus, 213 Oxford Street, London, W1D 2LG
				<br>
			</p>
		</lower>
	</content>
</footer>