<layout-box-item tick={{@tick}} ...attributes>

	{{#if @image}}
		<picture>
			<source
				srcset={{@imagedark}}
				media="(prefers-color-scheme: dark)"
			/>
			<img src={{@image}} alt={{@title}}>
		</picture>
	{{/if}}

	{{#if (or @stamp @title @label @text (has-block))}}
		<div>

			{{#if @stamp}}
				<p>{{@stamp}}</p>
			{{/if}}

			{{#if @title}}
				<h3>
					{{@title}}
				</h3>
			{{/if}}

			{{#if @label}}
				<h4>
					{{@label}}
				</h4>
			{{/if}}

			{{#if @text}}
				<p>{{@text}}</p>
			{{/if}}

			{{#if @buttontext}}
				<Button::Thicker @link={{@url}}>
					<span>{{@buttontext}}</span> <i class="fas fa-arrow-right"></i>
				</Button::Thicker>
			{{/if}}

			{{yield}}

		</div>
	{{/if}}

</layout-box-item>