<a {{on "click" (fn (mut this.show) true)}} mini ...attributes>

	<layout-videos-item ...attributes>

		<pic><img src={{@image}} alt={{@title}}><cover></cover></pic>

		<div>
			<p>{{@stamp}}</p>
			<h3>{{@title}}</h3>
			{{#if @people.length}}
				<h4>
					{{#each @people as |person|}}
						{{person}} <br>
					{{/each}}
				</h4>
				<br><br>
			{{/if}}
			{{#if @text}}
				<p>{{@text}}</p>
			{{/if}}
		</div>

	</layout-videos-item>

</a>

{{#if this.show}}

	<Ascua::Modal video @onClose={{fn (mut this.show) false}}>

		<Modal::Close @close={{fn (mut this.show) false}} />

		{{#if (inside @video "vimeo")}}
			<iframe src="{{@video}}?title=0&byline=0&portrait=0&speed=0&badge=0&autopause=0" width="100%" height="100%" title={{@title}} frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		{{/if}}
		{{#if (inside @video "youtube")}}
			<iframe src={{@video}} width="100%" height="100%" title={{@title}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen />
		{{/if}}

	</Ascua::Modal>

{{/if}}