<a {{on "click" (fn (mut this.show) true)}} ...attributes>
	<div>
		{{#if (has-block)}}
			{{yield}}
		{{else if @text}}
			{{@text}}
		{{else}}
			Join cloud waitlist
		{{/if}}
	</div>
</a>

{{#if this.show}}

	<Ascua::Modal @onClose={{fn (mut this.show) false}}>

		<Modal::Close @close={{fn (mut this.show) false}} />

		{{#if this.done}}
			Thank you for registering your interest for SurrealDB Cloud! Check your email inbox for communications from us, and make sure to whitelist <code>surrealdb.com</code> in your email inbox.
			<br><br>
			The SurrealDB Team
		{{else}}
			Thank you for your interest in SurrealDB Cloud. We are building a fully-managed global SurrealDB database platform to make building applications even easier. Enter your email below for more information.
			
			<Layout::Gap tiny />

			<form {{on "submit" this.submit.run}}>
				<Input @value={{this.firstname}} name="firstname" label="First name" placeholder="Enter your first name" />
				<Input @value={{this.lastname}} name="lastname" label="Last name" placeholder="Enter your last name" />
				<Input @value={{this.email}} @type="email" name="email" label="Email address" placeholder="Enter your email address" />
				<Button::Thinner Form type="submit" {{on "click" this.submit.run}}>
					Join cloud waitlist
				</Button::Thinner>
			</form>
			{{#if this.submit.error}}
				<text>Please enter an email address</text>
			{{/if}}
		{{/if}}
	</Ascua::Modal>

{{/if}}
